body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url(images/screen.jpg);
  background-size: 100vw auto;
}

.page {
  background: #71a6d8bf;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5em;

  --text-color: #0c3e52;
}

header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  color: var(--text-color);
  padding: 1em;
  z-index: 5;
  opacity: 1;
}

#button {
  background: url(images/button.gif) no-repeat center center;
  border-radius: 7em;
  border: none;
  cursor: pointer;
  height: 10em;
  margin: 0 auto;
  width: 10em;
  z-index: 5;
}

#button:hover {
  opacity: 0.4;
}

#button:active {
  background: #000;
  background-image: none;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 2%;
  padding: 5em 1em 0 1em;
  margin: 0 auto;
}

.books a {
  color: var(--text-color);
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.book-title {
  font-size: 1.2em;
  font-style: italic;
  min-height: 2.4em;
}

.books a:hover {
  text-decoration: underline;
}

.books img {
  background-color: #EDEDED;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 3em;
  border: 1px solid #0e485f;
  display: block;
  height: 250px;
  max-width: 90%;

  text-align: center;
  width: auto;
}

.books div {
  padding: 5px;
}

/* book info */

.cover {
  background-color: #EDEDED;
  border-radius: 1em;
  width: 300px;
  height: auto;
  float: left;
  padding: 0.3em;
  margin: 1em;
}

.title {
  font-size: 2em;
  font-style: normal;
}

.author {
  margin-top: 0;
}

.author a{
  color: var(--text-color);
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
}

.author:hover {
  text-decoration: underline;
}

.about {
  font-size: 1.1em;
  line-height: 1.5;
  padding: 1em;
}

.catalog{
  clear: both;
}

.catalog h2{
  color: var(--text-color);
  font-weight: normal;
  margin-left: 1em;
}

.catalog li{
  padding: 5px 10px;
}